In [1]:
import pandas as pd
import ast
import re

In [2]:
df = pd.read_csv('../data/processed/df_matches_finallast.csv')
df

,id_match,home_team_id,away_team_id,home_result,away_result,result,extra_time,penalties,replay,date,round,city,id_stadium,edition
0,1,QATAR,ECUADOR,0,2,away_team,False,False,False,2022-11-20,Group Stage,Al Khor,Al Bayt Stadium,2022
1,2,ENGLAND,IRAN,6,2,home_team,False,False,False,2022-11-21,Group Stage,Ar-Rayyan,Khalifa International Stadium,2022
2,3,SENEGAL,NETHERLANDS,0,2,away_team,False,False,False,2022-11-21,Group Stage,Doha,Al Thumama Stadium,2022
3,4,UNITED STATES,WALES,1,1,draw,False,False,False,2022-11-21,Group Stage,Ar-Rayyan,Ahmad Bin Ali Stadium,2022
4,5,ARGENTINA,SAUDI ARABIA,1,2,away_team,False,False,False,2022-11-22,Group Stage,Al Daayen,Lusail Stadium,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,60,ENGLAND,FRANCE,1,2,away_team,False,False,False,2022-12-10,Quarter-finals,Al Khor,Al Bayt Stadium,2022
60,61,ARGENTINA,CROATIA,3,0,home_team,False,False,False,2022-12-13,Semi-final,Al Daayen,Lusail Stadium,2022
61,62,FRANCE,MOROCCO,2,0,home_team,False,False,False,2022-12-14,Semi-final,Al Khor,Al Bayt Stadium,2022
62,63,CROATIA,MOROCCO,2,1,home_team,False,False,False,2022-12-17,Third Place,Ar-Rayyan,Khalifa International Stadium,2022
63,64,ARGENTINA,FRANCE,3,3,home_team,True,True,False,2022-12-18,Final,Al Daayen,Lusail Stadium,2022

In [3]:
df2 = pd.read_csv('../data/processed/matches_2018_cleanlast (1).csv')
df2

,id_match,home_team_id,away_team_id,home_result,away_result,result,extra_time,penalties,replay,date,round,city,id_stadium,edition
0,1,Russia,Saudi Arabia,5,0,home_team,False,False,False,2018-06-14,Group Stage,Moscow,NaN,2018
1,2,Egypt,Uruguay,0,1,away_team,False,False,False,2018-06-15,Group Stage,Yekaterinburg,NaN,2018
2,17,Russia,Egypt,3,1,home_team,False,False,False,2018-06-19,Group Stage,Saint Petersburg,NaN,2018
3,18,Uruguay,Saudi Arabia,1,0,home_team,False,False,False,2018-06-20,Group Stage,Rostov-on-Don,NaN,2018
4,33,Uruguay,Russia,3,0,home_team,False,False,False,2018-06-25,Group Stage,Samara,NaN,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,60,Sweden,England,0,2,away_team,False,False,False,2018-07-07,Quarter-finals,Samara,NaN,2018
60,61,France,Belgium,1,0,home_team,False,False,False,2018-07-10,Semi-finals,Saint Petersburg,NaN,2018
61,62,Croatia,England,2,1,home_team,True,False,False,2018-07-11,Semi-finals,Moscow,NaN,2018
62,63,Belgium,England,2,0,home_team,False,False,False,2018-07-14,Third Place,Saint Petersburg,NaN,2018
63,64,France,Croatia,4,2,home_team,False,False,False,2018-07-15,Final,Moscow,NaN,2018

In [4]:
df3 = pd.read_csv('../data/processed/matches_complet_preli_dateslast (4).csv')
df3

,id_match,home_team_id,away_team_id,home_result,away_result,result,extra_time,penalties,replay,date,round,city,id_stadium,edition
0,1,France,Mexico,4,1,home_team,False,False,False,1930-07-13,Group Stage,Montevideo,NaN,1930
1,2,USA,Belgium,3,0,home_team,False,False,False,1930-07-13,Group Stage,Montevideo,NaN,1930
2,3,Yugoslavia,Brazil,2,1,home_team,False,False,False,1930-07-14,Group Stage,Montevideo,NaN,1930
3,4,Romania,Peru,3,1,home_team,False,False,False,1930-07-14,Group Stage,Montevideo,NaN,1930
4,5,Argentina,France,1,0,home_team,False,False,False,1930-07-15,Group Stage,Montevideo,NaN,1930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7313,7231,Croatia,Iceland,2,0,home_team,False,False,False,NaN,Preliminary,Zagreb,NaN,2014
7314,7232,Egypt,Ghana,2,1,home_team,False,False,False,NaN,Preliminary,Cairo,NaN,2014
7315,7233,Algeria,Burkina Faso,1,0,home_team,False,False,False,NaN,Preliminary,Blida,NaN,2014
7316,7234,Uruguay,Jordan,0,0,draw,False,False,False,NaN,Preliminary,Montevideo,NaN,2014
7317,7235,New Zealand,Mexico,2,4,away_team,False,False,False,NaN,Preliminary,Wellington,NaN,2014

In [6]:
dffinfin = pd.concat([df, df2, df3], ignore_index=True)

dffinfin = dffinfin.drop(columns=['id_match'])

dffinfin = dffinfin.sort_values(by=['edition', 'date']).reset_index(drop=True)

dffinfin

,home_team_id,away_team_id,home_result,away_result,result,extra_time,penalties,replay,date,round,city,id_stadium,edition
0,France,Mexico,4,1,home_team,False,False,False,1930-07-13,Group Stage,Montevideo,NaN,1930
1,USA,Belgium,3,0,home_team,False,False,False,1930-07-13,Group Stage,Montevideo,NaN,1930
2,Yugoslavia,Brazil,2,1,home_team,False,False,False,1930-07-14,Group Stage,Montevideo,NaN,1930
3,Romania,Peru,3,1,home_team,False,False,False,1930-07-14,Group Stage,Montevideo,NaN,1930
4,Argentina,France,1,0,home_team,False,False,False,1930-07-15,Group Stage,Montevideo,NaN,1930
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7441,ENGLAND,FRANCE,1,2,away_team,False,False,False,2022-12-10,Quarter-finals,Al Khor,Al Bayt Stadium,2022
7442,ARGENTINA,CROATIA,3,0,home_team,False,False,False,2022-12-13,Semi-final,Al Daayen,Lusail Stadium,2022
7443,FRANCE,MOROCCO,2,0,home_team,False,False,False,2022-12-14,Semi-final,Al Khor,Al Bayt Stadium,2022
7444,CROATIA,MOROCCO,2,1,home_team,False,False,False,2022-12-17,Third Place,Ar-Rayyan,Khalifa International Stadium,2022
7445,ARGENTINA,FRANCE,3,3,home_team,True,True,False,2022-12-18,Final,Al Daayen,Lusail Stadium,2022

In [8]:
dffinfin.to_csv('concat3csv.csv')

In [2]:
def create_team_mapping(teams_df):
    mapping = {}
    
    for _, row in teams_df.iterrows():
        team_id = row['id_team']
        nom_standard = row['nom_standard']
        
        mapping[nom_standard.lower()] = team_id
        mapping[nom_standard.upper()] = team_id
        mapping[nom_standard] = team_id
        
        aliases_str = row['aliases']
        if pd.notna(aliases_str) and aliases_str != '[]':
            try:
                aliases = ast.literal_eval(aliases_str)
                for alias in aliases:
                    mapping[alias.lower()] = team_id
                    mapping[alias.upper()] = team_id
                    mapping[alias] = team_id
            except (ValueError, SyntaxError):
                pass
    
    return mapping

In [3]:
def get_team_id(team_name, mapping):

    if pd.isna(team_name):
        return None
    
    team_name_str = str(team_name).strip()
    
    if team_name_str in mapping:
        return mapping[team_name_str]
    
    if team_name_str.lower() in mapping:
        return mapping[team_name_str.lower()]
    
    if team_name_str.upper() in mapping:
        return mapping[team_name_str.upper()]
    
    if team_name_str.title() in mapping:
        return mapping[team_name_str.title()]
    
    return None

In [4]:
def transform_matches_dataframe(matches_df, teams_df):

    df = matches_df.copy()
    
    team_mapping = create_team_mapping(teams_df)
    
    df.insert(0, 'id_match', range(1, len(df) + 1))
    
    not_found = set()
    
    def map_home_team(name):
        team_id = get_team_id(name, team_mapping)
        if team_id is None and pd.notna(name):
            not_found.add(str(name))
        return team_id
    
    def map_away_team(name):
        team_id = get_team_id(name, team_mapping)
        if team_id is None and pd.notna(name):
            not_found.add(str(name))
        return team_id
    
    df['home_team_id'] = df['home_team_id'].apply(map_home_team)
    df['away_team_id'] = df['away_team_id'].apply(map_away_team)
    
    return df, list(not_found)

In [5]:
if __name__ == "__main__":
    matches_df = pd.read_csv('../data/processed/concat3csv.csv', index_col=0)
    teams_df = pd.read_csv('../data/processed/teams_traitees (2).csv')
    
    transformed_df, not_found_teams = transform_matches_dataframe(matches_df, teams_df)
        
    transformed_df.to_csv('ONAFINILESAMIS.csv')

In [6]:
transformed_df

,id_match,home_team_id,away_team_id,home_result,away_result,result,extra_time,penalties,replay,date,round,city,id_stadium,edition
0,1,76,131,4,1,home_team,False,False,False,1930-07-13,Group Stage,Montevideo,NaN,1930
1,2,213,21,3,0,home_team,False,False,False,1930-07-13,Group Stage,Montevideo,NaN,1930
2,3,226,28,2,1,home_team,False,False,False,1930-07-14,Group Stage,Montevideo,NaN,1930
3,4,164,157,3,1,home_team,False,False,False,1930-07-14,Group Stage,Montevideo,NaN,1930
4,5,10,76,1,0,home_team,False,False,False,1930-07-15,Group Stage,Montevideo,NaN,1930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7441,7442,67,76,1,2,away_team,False,False,False,2022-12-10,Quarter-finals,Al Khor,Al Bayt Stadium,2022
7442,7443,10,48,3,0,home_team,False,False,False,2022-12-13,Semi-final,Al Daayen,Lusail Stadium,2022
7443,7444,76,136,2,0,home_team,False,False,False,2022-12-14,Semi-final,Al Khor,Al Bayt Stadium,2022
7444,7445,48,136,2,1,home_team,False,False,False,2022-12-17,Third Place,Ar-Rayyan,Khalifa International Stadium,2022
7445,7446,10,76,3,3,home_team,True,True,False,2022-12-18,Final,Al Daayen,Lusail Stadium,2022